version: '3.8'

services:
  app:
    build:
      context: .
      args:
        VITE_AVIATION_STACK_KEY: ${VITE_AVIATION_STACK_KEY}
    ports:
      - "8080:8080"
    env_file:
      - .env
    container_name: flight-lookup-container
